.text {
    text-align: center;
    color: rgba(33, 142, 6, 0.945);
}
.center-img {
    display: block;
    margin: 0 auto;
}
span {
    font-weight: bold;
    color:brown;
}
pid-img {
    text-align: center;
}